*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(117, 117, 117);
}

html body{
    margin: 0;
    padding: 0;
}

.nva ul {
    margin: 0;
}
.main-header{
    background-color: rgb(30, 31, 61);
    color: rgb(221, 254, 255);
}

.nav li{
    display: inline;
}

h2{
    color: rgb(44, 57, 179);
    text-decoration-style:solid ;
}

.nav a{
    display: inline-block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}
.nav a:hover, .fotter a:hover{
    background-color: rgba(255,255,255, 0.1);
}

h2 , .logo{
    margin: 1em;
}

.content {
    margin: 1em;
    max-width: 850px;
    padding: 1 2em;
}

.last {
    margin: 1em;
}

.pagepic{
    float: left;
    margin: 0 1em;
    border-radius: 2.5%;
}

.fotter{
    background-color: rgb(173, 23, 18);
    color: rgb(221, 254, 255);
}

.fotter a{
    display: inline-block;
    padding: 0.6rem 1em;
    color: white;
    text-decoration: none;
}

.fotter li{
    display: inline;
}

.fotter li span{
    padding-bottom: 1em!important;
    color: white;
    text-align: center;
}
.fotter ul {
    margin: 0;
    text-align: end;
  
}

.elevatebody{
    background-color: black;
}

.elevatebody h5{
    margin: 0em 1.3em;
    color: rgb(194, 194, 194);
}

.elevatebody h3{
    color: rgb(117, 117, 117);
}

.elevatebody h1{
    margin: .3em .5em;
    color: rgb(248, 179, 100);
}